
/* Here are the elements of the animations */

#container{
position: reltive;
width:200px;
height:200px;
background: black;
}

#animation{
position: absolute;
width:20px;
height:20px;
background: white;
border-radius: 10px;
}
